@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  /* Primary colors */
  --color-primary-moderate-violet: hsl(263, 55%, 52%);
  --color-primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --color-primary-white: hsl(0, 0%, 100%);

  /* Neutral colors */
  --color-neutral-light-gray: hsl(0, 0%, 81%);
  --color-neutral-light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: #ecf2f8;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 71px 24px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card {
  padding: 26px 32px 32px 32px;
  border-radius: 8px;
  color: #fff;
}

.card-header {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-bottom: 18px;
  line-height: 1;
}

.card-header p {
  margin-top: 4px;
  opacity: 0.5;
  font-size: 11px;
}

.card-header .profile-img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 2px solid #a775f1;
  overflow: hidden;
}

.card .lead-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.card .sub-text {
  color: var(--color-neutral-light-gray);
  font-weight: 500;
  line-height: 18px;
}

.card-1 {
  background-color: var(--color-primary-moderate-violet);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 24px;
}

.card-1 .lead-text {
  margin-bottom: 40px;
}

.card-2 {
  background-color: var(--color-primary-very-dark-grayish-blue);
}

.card-3 {
  order: 1;
}

.card-3,
.card-4 {
  background-color: #fff;
  color: #48556a;
}

.card-2 .profile-img,
.card-3 .profile-img,
.card-4 .profile-img {
  border: 0;
}

.card-3 .sub-text,
.card-4 .sub-text {
  color: var(--color-primary-very-dark-grayish-blue);
  opacity: 0.7;
}

.card-5 {
  background-color: var(--color-primary-very-dark-blackish-blue);
}

@media (min-width: 640px) {
  .card {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1110px;
    margin: 165px 44px;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 24px;
  }

  .card-3 .lead-text,
  .card-4 .lead-text,
  .card-5 .lead-text {
    margin-bottom: 24px;
  }

  .card-3,
  .card-4,
  .card-5 {
    padding: 26px 32px;
  }

  .card-1 .lead-text {
    margin-bottom: 16px;
  }

  .card-1 {
    grid-column: 1 / 3;
    background-position: top right 80px;
  }

  .card-2 {
    grid-column: 3 / 4;
  }

  .card-3 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  .card-4 {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .card-5 {
    grid-column: 2 / 4;
  }
}
